tempCodeRunnerFile.js

#macOS
.DS_Store
.AppleDouble
.LSOverride

# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test

# Logs
logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage